language: java
jdk:
  - oraclejdk8
  
dist: trusty

install: ant

script:
  - ant integracion-continua
after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      - mlcabrera@fi.uba.ar
on_failure: always
